body {
    background-color: coral;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color:darkblue;
}
/*este es un comentario en css*/
p {
    font-size: 18px;
    color: darkgrey;
}